*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
.wrapper,
.side {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #ebe5e3;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card,
.side {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
  align-items: center;
  flex-direction: column;
}

/* #list {
  text-align: center;
  align-items: center;
  flex-direction: column;
} */

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(197, 76, 76);
}

.button {
  cursor: default;
  background: #c0c7cf;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
}
.float-right {
  float: right;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.5rem;
}

#characterLength {
  width: 4rem;
}
